[submodule "Website"]
	path = Website
	url = https://github.com/SENODROOM/QuantumLanguage-Website.git
	branch = main
[submodule "code-explaination"]
	path = docs/code-explanation
	url = https://github.com/SENODROOM/QuantumLangCodeExplaination.git
	branch = main
[submodule "examples"]
	path = examples
	url = https://github.com/SENODROOM/QuantumLanguageExamples.git
	branch = main
[submodule "extensions"]
	path = extensions
	url = https://github.com/SENODROOM/QuantumLanguageExtension.git
	branch = main
[submodule "design"]
	path = docs/design
	url = https://github.com/SENODROOM/QLang-DesginDocs.git
	branch = main
[submodule "tests"]
	path = tests
	url = https://github.com/QuantumLogicsLabs/QuantumFailedTests.git
	branch = main
[submodule "installer"]
	path= installer
	url= https://github.com/QuantumLogicsLabs/quantumlanguage-windowsinstaller.git
	branch=main